<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Friend Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container">
      <!--homePage-->
      <div class="jumbotron">
        <h1 class="display-4">Not So Great Friend Finder</h1>
        <p class="lead">Answer a few questions... to find another human.</p>
        <hr class="md-4">
        <p>Love is NOT our speciality.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="survey" role="button">Find my match</a>
        </p>
      </div>
    </div>
  </body>
</html>
